@import "tailwindcss";

:root {
  --black: #0a0a0a;
  --black-80: #151515;
  --black-70: #282828;
  --black-60: #696969;

  --pure-white: #ffffff;
  --white: #ecf2f8;
  --white-80: #d5dbe0;
  --white-70: #b8bfc6;
  --white-60: #888c8f;

  --blue: #2a64f6;
  --gray: #313131;
  --orange: #ea763f;
  --red: #800020;

  --max-width: 1650px;
}

@media screen and (max-width: 1750px) {
  :root {
    --max-width: 90vw !important;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

@theme inline {
  --color-black: var(--black);
  --color-white: var(--white);
  --color-pure-white: var(--pure-white);

  --color-black-80: var(--black-80);
  --color-black-70: var(--black-70);
  --color-black-60: var(--black-60);

  --color-white-80: var(--white-80);
  --color-white-70: var(--white-70);
  --color-white-60: var(--white-60);

  --color-blue: var(--blue);
  --color-gray: var(--gray);
  --color-orange: var(--orange);
  --color-red: var(--red);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --breakpoint-xs: 25rem;
  --container-mx: var(--max-width);
}

body {
  background: var(--pure-white);
  color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
}

.loader svg {
  width: 3.25em;
  transform-origin: center;
  animation: rotate4 2s linear infinite;
}

.loader circle {
  fill: none;
  stroke: #f48049;
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash4 {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -125px;
  }
}

@media screen and (max-width: 400px) {
  .loader svg {
    width: 2.35em;
  }
}

.btn {
  transition: 0.25s;
}

.btn:hover {
  background-color: var(--black-80);
  color: var(--pure-white);
}
